**/.idea/
**/target/
**/bin
**/.settings/
**/.classpath
**/.project
!/.idea/codeStyles
!/.idea/checkstyle-idea.xml
**/*.iml
**/logs/
**/sonar-report/
**/output/
**/dependency-reduced-pom.xml
flink-app/src/main/java/eu/unicredit/document/dxstraceinfo/avro/Customer.java
flink-app/src/main/java/eu/unicredit/document/dxstraceinfo/avro/Document.java
flink-app/src/main/java/eu/unicredit/document/dxstraceinfo/avro/DocumentGroup.java
flink-app/src/main/java/eu/unicredit/document/dxstraceinfo/avro/DossierTraceinfoEvent.java
flink-app/src/main/java/eu/unicredit/document/dxstraceinfo/avro/Signer.java
**/*.log