<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <!-- Application logs -->
    <logger name="eu.unicredit" level="INFO"/>

    <!-- Flink -->
    <logger name="org.apache.flink" level="INFO"/>

    <!-- Kafka -->
    <logger name="org.apache.kafka" level="INFO"/>
    <logger name="kafka" level="WARN"/>

    <!-- Iceberg -->
    <logger name="org.apache.iceberg" level="INFO"/>

    <!-- Hadoop -->
    <logger name="org.apache.hadoop" level="ERROR"/>

    <!-- Avro -->
    <logger name="org.apache.avro" level="WARN"/>

    <!-- Netty -->
    <logger name="io.netty" level="WARN"/>

    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">

        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>
                    message.contains("Kryo serializer scala extensions are not available")
                </expression>
            </evaluator>
            <OnMatch>DENY</OnMatch>
            <OnMismatch>NEUTRAL</OnMismatch>
        </filter>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>

    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>